body {
  font-family: arial, sans-serif;
  background-image: linear-gradient(
    to right,
    rgba(31, 101, 136),
    rgb(160, 203, 224)
  );
}

h1 {
  color: rgb(11, 58, 114);
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-bottom: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(11, 58, 114);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.btn {
  background-color: rgb(11, 58, 114);
  border-color: rgb(11, 58, 114);
}

.app-footer {
  text-align: center;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10px;
  color: rgb(41, 97, 165);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  background-color: #c8dbe6;
  border-color: #185a78;
  border-radius: 5px;
  border-width: 5px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  margin-top: -15px;
  height: 84px;
  width: 84px;
}

.weather-temperature strong {
  color: rgb(11, 58, 114);
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -16px;
}

.weather-temperature .active {
  color: rgb(11, 58, 114);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(11, 58, 114);
}

.weather-forecast-temp-min {
  opacity: 0.3;
}

.weather-forecast-temperatures {
  font-size: 12px;
  color: rgb(11, 58, 114);
}
